body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(17,27,37,1) 68%, rgba(17,18,18,1) 100%);
}


nav ul li a{
    font-size: 20px;
    color: var(--bs-white) !important;
    font-weight: bold;

}

main{
    display: grid;
    justify-content: center;
    margin-bottom: 1.5em;
}


.contact{
    position: relative;
    background-color: aliceblue;
    width: 35em;
    border-radius: 0.5em;
}

#submitBtn:hover{
    transition: 0.3s;
    background-color: var(--bs-red);
}

.jumbotron{
    height: 400px;
    width: 700px;
    
    text-align: center;
    border-radius: 1em;
    padding: 2em;
}
.jumbotron img{
    position: relative;
    width: 500px;
    height: auto;
}

.jumbotron h2{
    margin-top: 0px;
    font-weight: bolder;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1em;
}

.titleh{
    display: flex;
    justify-content: center;
}

.titleh h1{
    font-weight: bold !important;
    margin-top: 1em !important;
    color: var(--bs-white);
    text-shadow: var(--bs-red) 10px 1px 10px;
    margin-bottom: 0px;
}

.titleh img{
    width: 200px;
    height: auto;
}


.btn-close{
    background-color: white !important;
}


.card{
    margin-top: 2em;
}


.card-title{
    color: var(--bs-red)!important;
    font-weight: bold;
}

.navbar{
    background-color: #0B1124;
}

.navbar-brand{
    font-weight: bolder;
}

#collapsibleNavbar{
    justify-content: flex-end ;
    align-items: flex-start;
}

.navbar-nav{
    align-items: flex-end;
}


table{
    position: relative;
    background-color: aliceblue;
    width: 70%;
    padding: 2em;
    border-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;
    border: black 1px solid;
    
}

table caption{
    font-size: 20px;
    font-weight: 400;
}

tr,td, th{
    border-collapse: collapse;
    padding: 3px
    
}

th{
    background-color: #69ff52;

    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #0ce4a7;
  }


tr:nth-child(odd) {
    background-color: #1db4de;
}

.vertical-heading
  {
      background-color: #79f47d;
  } 



.card-body button{
    color: var(--bs-red);
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: 0px;
    text-decoration: underline;
}


@media only screen and (max-width:1000px){
    
    .main-container{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .titleh img{
        width: 100px;
        height: 100%;
    }

}

@media only screen and (max-width:999px) and (min-width:500px){
    
    .titleh img{
        width: 150px;
        height: 100%;
    }

}

